{% extends 'base.html.twig' %}

{% block title %} Registration {% endblock %}

{% block body %}

    <div class="container">
        <h3 class="text-center">Registration</h3>
        {{ form_start(form) }}
        {{ form_row(form.email, {
            'label': '', 'class': 'form-control'
        }) }}
        {{ form_row(form.plainPassword.first, {
            'label': '', 'class': 'form-control'
        }) }}
        {{ form_row(form.plainPassword.second, {
            'label': '', 'help': 'Re-enter Password'
        }) }}
        {{ form_row(form.roles, {
            'label': ' ', 'class': 'form-control'
        }) }}
        <button type="submit" class="btn btn-primary" formnovalidate>Submit</button>
        {{ form_end(form) }}

    </div>
{% endblock %}