{% extends 'base.html.twig' %}

{% block body %}

{% block javascripts %}
      <script src="{{ asset('http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js') }}"></script>
      <script src="{{ asset('http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js') }}"></script>
      <script src="{{ asset('firstPage/jqcarousel.js') }}"></script>
      <script type="text/javascript">
        $(window).load(function () {
          'use strict';
          $('#gallery').jqcarousel();
        });
      </script>
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
      img {
        height: 300px;
      }
      body {
        background-color: #000000;
        background-position: center center;
      }
    </style>
{% endblock %}

    <div id="gallery" style="position: absolute; left: 50%; top: 150px; margin-left: -550px;">
      <img src="{{ asset('firstPage/images/fish-1.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-2.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-3.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-4.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-5.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-6.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-7.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-8.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-9.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-10.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-11.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-12.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-13.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-14.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-15.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-16.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-17.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-18.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-19.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-20.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-21.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-22.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-23.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-24.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-25.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-26.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-27.png') }}" alt="" />
      <img src="{{ asset('firstPage/images/fish-28.png') }}" alt="" />
    </div>
{% endblock %}