{% extends 'layout.html.twig' %}
{% import 'tree.twig' as tree %}

{% block title %}Category{% endblock %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Category</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('main') }}">Home</a></li>
                        <li class="breadcrumb-item active">Category</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">List of categories</h3>
                <div class="float-right d-none d-sm-inline-block">
                    <a href="{{ path('category_new') }}"><i class="fa fa-plus-square" style="font-size: 48px;" title="Add communal"></i></a>
                </div>
            </div>
            <!-- /.card-header -->
            <!-- Card-body -->
            <div class="card-body">
                <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            {% set step = 0 %}
                            {{ include('tree.twig') }}
                        </div>
                    </div>
            <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- /.content-wrapper -->
{% endblock %}
