{% extends 'layout.html.twig' %}

{% block title %}New Category{% endblock %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Category</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('main') }}">Home</a></li>
                        <li class="breadcrumb-item active"><a href="{{ path('category_index') }}">Category</a></li>
                        <li class="breadcrumb-item active">Create new category</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Create new category</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="post">
                        {{ form_start(form, {'method': 'POST'}) }}
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name">Name category</label>
                                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'fill in the field'}}) }}
                            </div>
                            <div class="form-group">
                                <label for="unit">Unit</label>
                                {{ form_widget(form.unit, {'attr': {'class': 'form-control', 'placeholder': 'fill in the field'}}) }}
                            </div>
                            <div class="form-group">
                                <label for="unit">Parent</label>
                                <select value="{{ form_widget(form.parentId, {'attr': {'class': 'form-control'}}) }}" id="category">
                                    <option value="0">None</option>
                                    {% set tab = "" %}
                                    {{ include('tree3.twig') }}
                                </select>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">{{ button_label|default('Submit') }}</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="{{ path('category_index') }}">Back to list</a>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
