{% for item in items %}
    <div class="card card-primary collapsable">
        {% if item.parentId == 0 %}
        <div class="card-header bg-success">
            <h3 class="card-title"><a href="{{ path('category_edit', {'id': item.id}) }}">{{ item.name }}</a></h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        {% else %}
            <a href="{{ path('category_edit', {'id': item.id}) }}">{{ item.name }}</a>
        {% endif %}
        {% if item.childs is defined %}
                <div class="card-body" style="display: block;">
                    {{ include(_self, {items: item.childs}) }}
                </div>
        {% endif %}
    </div>
{% endfor %}