{% set dash = " - " %}
{% for item in items %}
    <option value="{{ item.id }}"
            {% if item.id == category.id %} disabled {% endif %}
            {% if item.id == category.parentId %} selected {% endif %}
    >{{ tab }}{{ item.name }}
    </option>
        {% if item.childs is defined %}
            {{ include(_self, {items: item.childs, tab: tab~dash}) }}
        {% endif %}
{% endfor %}