<div class="list-group" style="margin-left: {{ step * 20 }}px">
    {% for item in items %}
        <div class="list-group">
            <a href="{{ path('category_edit', {'id': item.id}) }}">
                {{ item.name }}
            </a>
            {% if item.childs is defined %}
                {{ include(_self, {items: item.childs, step: step + 1}) }}
            {% endif %}
        </div>
    {% endfor %}
</div>