{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{#{{ include('communal/_form.html.twig') }}#}
{#{{ include('communal/_form.html.twig', {'button_label': 'Update'}) }}#}