<div class="table" id="selected">
    <div class="col-sm-12">
        <table id="selected" class="table table-bordered table-striped dataTable dtr-inline table-hover" role="grid" aria-describedby="example1_info">
            <thead>
            <tr role="row">
                <th>Name *</th>
                <th>Unit</th>
                <th>Price</th>
                <th>Counter</th>
                <th>Quantity</th>
                <th>Period</th>
                <th>Total</th>
                <th># document</th>
                <th>Date document</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr role="row" class="odd">
                {% for communal in communals %}
                {% if communal.status == 0 %}
            <tr class="{{ '' }}">
                {% elseif communal.status == 1 %}
            <tr class="{{ 'bg-gradient-success' }}">
                {% elseif communal.status == 2 %}
            <tr class="{{ 'bg-gradient-info' }}">
                {% endif %}
                <td>{{ communal.name }}</td>
                <td>{{ communal.unit }}</td>
                <td>{{ communal.price }}</td>
                <td>{{ communal.counter }}</td>
                <td>{{ communal.quantity }}</td>
                <td>{{ communal.period }}</td>
                <td>{{ communal.total }}</td>
                <td>{{ communal.iddocument }}</td>
                <td>{{ communal.datedocument ? communal.datedocument|date('Y-m-d') : ''}}</td>
                <td>{{ communal.category.name }}</td>
                <td>
                    <a href="{{ path('communal_show', {'id': communal.id}) }}"><i class="fa fa-eye" title="Show"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ path('communal_edit', {'id': communal.id}) }}"><i class="fa fa-pen" title="Edit"></i></a>
                </td>
            </tr>
            {% else %}
                <tr>
                    <td>no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="col-sm-12 col-md-5" id="getTotalItemCount">
        Total items: {{ communals.getTotalItemCount }}
    </div>
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers" id="knp_pagination_render">
            {{ knp_pagination_render(communals) }}
        </div>
    </div>
</div>