{% extends 'layout.html.twig' %}

{% block title %}Edit Invoice{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Invoice</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ path('main') }}">Home</a></li>
                            <li class="breadcrumb-item active"><a href="{{ path('communal_index') }}">Invoices</a></li>
                            <li class="breadcrumb-item active">Edit invoice</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Edit invoice</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" method="post">
                            <div class="card-body">
                                {{ form_start(form) }}
                                <div class="form-group">
                                    <label for="name">Name *</label>
                                    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'fill in the field'}}) }}
                                </div>
                                <div class="form-group">
                                    <label for="price">Price</label>
                                    {{ form_widget(form.price, {'attr': {'class': 'form-control', 'placeholder': 'fill in the field'}}) }}
                                </div>
                                <div class="form-group">
                                    <label for="counter">Counter</label>
                                    {{ form_widget(form.counter, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    <label for="quantity">Quantity</label>
                                    {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    <label for="period">Period</label>
                                    {{ form_widget(form.period, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    <label for="total">Total</label>
                                    {{ form_widget(form.total, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    <label for="status">Status</label>
                                    {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    <label for="iddocument">ID document</label>
                                    {{ form_widget(form.iddocument, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    <label for="datedocument">Date document</label>
                                    {{ form_widget(form.datedocument, {'attr': {'class': 'form-control'}} ) }}
                                </div>
                                <div class="form-group">
                                    <label for="categoryId">Category of document</label>
                                    {{ form_widget(form.category, {'attr': {'class': 'form-control'}} ) }}
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">{{ button_label|default('Submit') }}</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="{{ path('communal_index') }}">Back to list</a>
                                </div>
                                {{ form_end(form) }}
                                <div class="card-footer">
                                    {{ include('communal/_delete_form.html.twig') }}
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
