{% extends 'layout.html.twig' %}

{% block title %}Show Invoice{% endblock %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Invoice</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('main') }}">Home</a></li>
                        <li class="breadcrumb-item active"><a href="{{ path('communal_index') }}">Invoices</a></li>
                        <li class="breadcrumb-item active">Show invoice</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Show invoice</h3>
                    </div>
                    <!-- /.card-header -->
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ communal.id }}</td>
                            </tr>
                            <tr>
                                <th>Name *</th>
                                <td>{{ communal.name }}</td>
                            </tr>
                            <tr>
                                <th>Unit</th>
                                <td>{{ communal.unit }}</td>
                            </tr>
                            <tr>
                                <th>Price</th>
                                <td>{{ communal.price }}</td>
                            </tr>
                            <tr>
                                <th>Counter</th>
                                <td>{{ communal.counter }}</td>
                            </tr>
                            <tr>
                                <th>Quantity</th>
                                <td>{{ communal.quantity }}</td>
                            </tr>
                            <tr>
                                <th>Period</th>
                                <td>{{ communal.period }}</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td>{{ communal.total }}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                {% if communal.status == 0 %}
                                <td>{{ 'New' }}</td>
                                {% elseif communal.status == 1 %}
                                <td>{{ 'Payed' }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>Id document</th>
                                <td>{{ communal.iddocument }}</td>
                            </tr>
                            <tr>
                                <th>Date document</th>
                                <td>{{ communal.datedocument ? communal.datedocument|date('Y-m-d') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Created at</th>
                                <td>{{ communal.createdAt ? communal.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Updated at</th>
                                <td>{{ communal.updatedAt ? communal.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Category</th>
                                <td>{{ communal.category.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="card-footer">
                        <a href="{{ path('communal_index') }}">Back to list</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{{ path('communal_edit', {'id': communal.id}) }}">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="card-footer">
                            {{ include('communal/_delete_form.html.twig') }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
